.peopleContact{
    display: grid;
    position: relative;
    padding: 0 6rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    grid-column-gap: 5rem;
    justify-content: center;
    overflow:hidden;
    @media (max-width:1200px){
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
    }
     @media (max-width:700px){
         padding : 1rem;
     }
    
}

.people {
    text-align: center;
    overflow: hidden;
    margin-bottom:3rem;
    @media (max-width:1200px){
        text-align:left;
    }
    @media (max-width:650px){
        text-align:center;
    }
    img{
        background: url(../../assets/Home/bg-pattern-small-circle.svg);
        background-repeat: no-repeat;
        background-position: center;
        @media (max-width:1200px){
        float: left;
        margin:1rem 2rem;
        @media (max-width:650px){
        float: none;
        margin: auto;
    }
    }
    }
    h3{
        @media (max-width:1200px){
            margin-top: 3.5rem;
        }   
        letter-spacing: .3rem;
    }
    p{
        font-weight: 400;
        font-size: 1rem;
    }
    
}

.passionate{
    @extend .people;
}

.resourceful{
    @extend .people;
 
}

.friendly{
    @extend .people;
    
}