 
 .header{
    display: flex;
    justify-content: space-between;
    margin: 2rem 6rem;
    @media (max-width: 950px) {
        margin: 2rem 4rem;
    }
     @media (max-width: 600px) {
        margin: 2rem;
    }
}
.logo{

    margin: 20px 0;
    cursor: pointer ;
    @media (max-width: 950px) {
        margin: 20px 15px 0 0 ;
    }
     @media (max-width: 700px) {
        margin: 0 15px 0 0 ;
    }
     @media (max-width: 450px) {
        margin: 0;
        top:0%;
    }
    img{
        height: 27px;
        left: 0%;
        @media (max-width: 680px) {
        height: 28px;
        margin-top: .5rem;
    }
    @media (max-width: 350px) {
        height: 20px;
    }
    }

}


.header-links{
    display:flex;
    text-align:center;
    overflow: hidden;
    @media (max-width: 700px) {
        display: none;
    }

    li{
        text-align:center;
        list-style: none;
        
        cursor: pointer;
        a{
            margin: 0.6rem 1rem ;
            text-decoration: none ;
            color: $black;
            font-weight: 400;
            font-size: 1.1rem;
        }
        &:hover{
            border-bottom: 1px solid transparent;
            transition-duration: 1s;
        }
}

}

.header-burger {
    @media (min-width: 700px) {
        display: none;
        
    }
    .header-links-burger{
        position: fixed;
        text-decoration: none;
        list-style: none;
        background-color: $black;
        margin: 3rem 0;
        width: 100% ;
        overflow: hidden;
        left: 0;
        z-index: 100;
    }
    li{
         text-decoration: none;
         width: 100% !important;
         padding: 1rem;
    }
    a{
        text-decoration: none ;
            color: $white;
    }
}

.humburger{
    cursor: pointer;
}